body {
  color: #484349;
  background-color: #747474;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 50px auto;
  padding: 0px 250px;
}
/*div {


  margin: 100 auto
}*/
h1.profile-text {
  color: black;
  font-weight: bold;
}
h2#passion-heading{
  margin-top: 200px;
  margin-bottom: 50px;
  padding-top: 30px;
  color: white;
  font-weight: bold;
}
div#dance {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;

}
div#dance2{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;

}
div#dance3{
  padding-left: 120px;
  padding-right: 80px;
  padding-bottom: 30px;
}
img.interest-picture {
  padding-bottom: 18px;
  padding-left: 30px;
}
img.interest-picture2 {
  padding-bottom: 18px;
  padding-left: 30px;
  padding-top: 18px;
}




.profile-text{

  font-weight: bold;
}
#profile {
  transform: rotate(90deg);
  border-radius: 4%;
  margin-top: 80px;
}
li.link {
  display: inline;
}
img.interest-picture {
  border-radius: 2%;
  box-shadow: 2%
}
p#bio {
  padding-left: 100px;
  padding-right: 100px;
}
h1.profile-text {
  text-transform: uppercase;
  padding-top: 30px;
}
ul#social_media {
  padding: 30px;
}
li.link {
  font-size: 30px;
}
i.fab.fa-linkedin{
  color: #84C0C6;
  font-weight: bolder;
  transition: all .2s ease-in-out;
}
i.fab.fa-github-alt{
  color: #84C0C6;
  font-weight: bolder;
  padding-left: 20px;
  transition: all .2s ease-in-out;
}
i.fab.fa-instagram{
  color: #84C0C6;
  font-weight: bolder;
  padding-left: 20px;
  transition: all .2s ease-in-out;
}
i.fab.fa-linkedin:hover { transform: scale(1.5); }
i.fab.fa-github-alt:hover { transform: scale(1.5); }
i.fab.fa-instagram:hover { transform: scale(1.5); }





div#profile-card, div.cards1, div.cards2, div.cards3 {
  /*background-color: rgba(240,240,240, 0.9);*/
  background-color: #FCFFFC;
  border-radius: 1%;

}
#profile-card {
  padding: 10px 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#profile-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards1 {
  margin-bottom: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cards1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

